In [1]:
Name:-Subodh Narayan Sah
Reg N0:- BL.EN.U4CSE21199
lab 07

subodh

A1. Train a support vector machine using the training set obtained from above exerciseyouâ€™re your
dataset has multiple classes, take any two classes for this exercise. Following code for help:
>>> import numpy as np
>>> from sklearn import svm
>>> clf = svm.SVC()
>>> clf.fit(X_train, y_train)
Get the support vectors and study them to understand them.
>>> clf.support_vectors_

In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, classification_report

data=pd.read_csv("SolarPrediction.csv")
data.head()

,UNIXTime,Data,Time,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed,TimeSunRise,TimeSunSet
0,1475229326,9/29/2016 0:00,23:55:26,1.21,48,30.46,59,177.39,5.62,6:13:00,18:13:00
1,1475229023,9/29/2016 0:00,23:50:23,1.21,48,30.46,58,176.78,3.37,6:13:00,18:13:00
2,1475228726,9/29/2016 0:00,23:45:26,1.23,48,30.46,57,158.75,3.37,6:13:00,18:13:00
3,1475228421,9/29/2016 0:00,23:40:21,1.21,48,30.46,60,137.71,3.37,6:13:00,18:13:00
4,1475228124,9/29/2016 0:00,23:35:24,1.17,48,30.46,62,104.95,5.62,6:13:00,18:13:00

In [5]:
data.describe()

,UNIXTime,Radiation,Temperature,Pressure,Humidity,WindDirection(Degrees),Speed
count,3.268600e+04,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000,32686.000000
mean,1.478047e+09,207.124697,51.103255,30.422879,75.016307,143.489821,6.243869
std,3.005037e+06,315.916387,6.201157,0.054673,25.990219,83.167500,3.490474
min,1.472724e+09,1.110000,34.000000,30.190000,8.000000,0.090000,0.000000
25%,1.475546e+09,1.230000,46.000000,30.400000,56.000000,82.227500,3.370000
50%,1.478026e+09,2.660000,50.000000,30.430000,85.000000,147.700000,5.620000
75%,1.480480e+09,354.235000,55.000000,30.460000,97.000000,179.310000,7.870000
max,1.483265e+09,1601.260000,71.000000,30.560000,103.000000,359.950000,40.500000

In [7]:
column_name = 'Radiation'
lower_limit = data[column_name].quantile(0.05)  # Adjust the percentile as needed
upper_limit = data[column_name].quantile(0.95)  # Adjust the percentile as needed

# Replace outliers with the mean of the column
mean_value = data[column_name].mean()
data[column_name] = data[column_name].apply(lambda x: mean_value if x < lower_limit or x > upper_limit else x)

In [10]:
X = data[['Temperature', 'Pressure']]  # Replace 'feature1' and 'feature2' with the names of your two input features
y = data['Radiation']  # Replace 'target_column' with the name of your target variable

# Split the data into a training set and a testing set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
# Now you have X_train, X_test, y_train, and y_test for training and testing your machine learning model.